<div class="markdown">
  <markdown mermaid [src]="'../../assets/Testing.md'"></markdown>
</div>

<markdown mermaid  ngPreserveWhitespaces clipboard>
  <pre class="mermaid">
    flowchart TD
    id1([Markdown in html])
    id2([Markdown in template])
    id3([Markdown in data])
    id4([Markdown loaded from src])
  </pre>
  </markdown>

  <pre class="mermaid">
    flowchart TB
    c1-->a2
    subgraph one
    a1-->a2
    end
    subgraph two
    b1-->b2
    end
    subgraph three
    c1-->c2
    end
  </pre>